*{
    margin:0px;
    padding:0px;
}


.container{
    width:100%
}

.cardn{
    box-shadow: 1px 2px 3px black;
   margin-bottom: 5vh;
  
   margin-top: 3vh;
   
  

}
.imgc {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
#output{
    column-gap: 0vw;
}

